extends layout
block content
  h1 Your render will appear here. #{status ? ("Current status: " + status + ".") : ""}
  script(src='/javascripts/collate.js', type='text/javascript')
  <canvas id="canvas">
  script.
    launch("#{uuid}", "#{aws}")
