extends layout

block content
  div.bgimg
  div.fg
    h1 Welcome to #{title}
    p Upload your scene information here:
    
    form(method='post', enctype='multipart/form-data', action="/post")
      input(class='text', type='file', name='file-select', accept='.json')
      input(class='btn btn-primary btn-sm', type='submit', name='upload', value='Upload')
